*{
  outline: 1px solid black;
  padding: 0;
  margin: 0;
}
body{
  background: #C5BEBE;
}
header{
position: fixed;
background: white;
width: 85em;
height: 6.5em;
top: 0;
background-color:#CD0000;

}
.logo{
  position: flex;
  left: 0;
  margin-top: 20px;
  width: 25%;
  height: 80px;
  padding:0% 4%;
  left: 40px;
}
/***********************************input de busqueda*/
.buscar {
  top: 20%;
  left: 80%;
  border-radius: 10px;
  position: absolute;
  padding: 10px 10px;
  color: white;
  border-style:solid;
  background: transparent;
  font-size: 15px;
  border-radius: 12px;
}
.search{
  width: 3%;
  height: 30px;
  position: absolute;
  overflow: hidden;
  left:92%;
  top: 24%;

}

/************************************iconos del header*/
.icon-twitter{
  display: inline;
  position: relative;
    font-size: 20px;
    color: #fff;
    margin-left: 610px;
    margin-top:28px;

  }

.icon-facebook2{
  display: inline;
  position: relative;
    font-size: 20px;
    margin-left: 680px;
    margin-top:28px;

}
.icon-instagram{
  display: inline;
  position: relative;
    font-size: 20px;
    color: #fff;
    margin-left: 750px;
    margin-top:28px;

}
.icon-youtube{
  display: inline;
  position: relative;
  font-size: 20px;
  color: #fff;
  margin-left: 820px;
  margin-top:28px;
}
#icons-prins{
  top: -30%;
  position: absolute;
}
#ico{

  position: absolute;
  color: white;
  border-radius:60px; 
  border-style:solid;
  padding: 10px;
  top: 40px;
}
/********************************************navegadores */
ul {
  background-color:#434343;
  margin-top:0px;
  font-family: arial;
  width:85em;
  height: 3em;
  margin-left: 0;
  position: fixed;
  display: block;
}
.enlaces{
  top: 8px;
  margin-top: 98px;
  position: absolute;
}
.opciones a {
  text-decoration: none;
  margin-right: 20px;
background-color:  2px solid white;

}
li{
    display: inline-block;
    padding: 10px;
    list-style: none;
}
li:hover{
    background-color: red;
}
a{
    color:whitesmoke;
    text-decoration: none;
    padding: 6px;

}
option{
  background-color: black;
  color:white;
  width: 40px;
  height: 40px;
}

/******************************************seccion de noticias*/
 #section{
  width: 70em;
  height:53em;
   margin-left: 120px;
   background: white;
  
}
.odebrecht{
  width: 55%;
  height: 270px;
  padding: 2%;
  background: yellow;
  margin-top: 14%;
  margin-left:4%;
  float: left;
}
.editorial{
   width: 29%;
  height:80px;
  background: yellow;
  margin-top: 14%;
  margin-right: 4%;
  float: right;

}
.prision{
   width: 27%;
  height: 200px;
  padding: 1%;
  background: yellow;
  margin-top: 1%;
  margin-left:4%;
  float: left;

}
.aramayo{
   width: 27%;
  height: 300px;
  padding: 1%;
  background: yellow;
  margin-top: 1%;
  margin-left: 4%;
  margin-right: 10%;
  float: left;

}
.corea{
   width: 26%;
  height: 300px;
  padding: 1%;
  background: yellow;
  margin-top: 1%;
  margin-left: -8%;
  float: left;
}
.deporte{
  width: 28%;
  height: 150px;
  padding: 1%;
  background: yellow;
  margin-top: 1%;
  margin-left: 0%;
  margin-right: 4%;
  float: right;
}
.publicidad{
  width: 28%;
  height: 110px;
  padding: 1%;
  background: yellow;
  margin-top: 1%;
  margin-left: 0%;
  margin-right: 4%;
  float: right;
}












/*.texto1 {
   color: #fff;
    background: #434343;
    height:300px;
    width: 240px;
    font-size: 30px;
    margin-top: 360px;
    display: flex;
}
.texto1 span{

  color: white;
  margin-top: 100%;
  margin-left: 2px;
  padding: 1px;
  display: flex;
  font-size:20px;

}
.texto2 {
  color: #fff;
   background: #434343;
    height:200px;
    width: 280px;
    font-size: 20px;
    margin-top: 220px;
    display: flex;
    float: left;
    margin-left: 3px;


}
.texto2 span{
  margin-top: 60%;
  color: white;
  margin-left: 20px;
  padding: 1px;
  display: flex;
  font-size:20px;

}
.texto3 {
  color: #fff;
  background: #434343;
  height:240px;
  width: 360px;
  font-size: 20px;
  margin-left: 2%;
  display: flex;

}
.texto3 span{
  color: white;
  margin-top: 50%;
  margin-left: 20px;
  padding: 1px;
  display: flex;
  font-size:20px;

}
.texto4 {
  color: #fff;

  background: red  ;
  height:90px;
  width: 300px;
  font-size: 20px;
  margin-left: 43px;
   margin-top: 0;
   float: left;

}
.imagen4{
  position:flex;
  height: 100px;
  margin-left: 80%;
  margin-top: 1px;
}
.texto5{
   color: #fff;
    background: #2980B9;
    height:250px;
    width: 600px;
    font-size: 30px;
    margin-top: 10px;
    display: flex;
    float: right;
}
.texto5 span{
  color: white;
  margin-top: 34%;
  margin-left: 20px;
  padding: 1px;
  display: flex;
  font-size:20px;

}
.texto6{
   color: #fff;
    background: #2980B9;
    height:200px;
    width: 600px;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 400px;
    display: inline-flex;

}
.texto6 span{
  color: white;
  margin-top: 26%;
  margin-left: 20px;
  padding: 1px;
  display: flex;
  font-size:20px;

}
.top{
  margin-left: 31%;
  display: flex;
  overflow: hidden;
}
*/