*{
  /*outline: 1px solid black;*/
  padding: 0;
  margin: 0;
  font-family: 'Istok Web', sans-serif;
  font-family: 'Hammersmith One', sans-serif;
}
body{
  background: #C5BEBE;
}
header{
position: fixed;
background: white;
width: 85em;
height: 6.5em;
top: 0;
background-color:#CD0000;

}
.logo{
  position: flex;
  left: 0;
  margin-top: 20px;
  width: 25%;
  height: 80px;
  padding:0% 4%;
  left: 40px;
}
/***********************************input de busqueda*/
.buscar {
  top: 32%;
  left: 80%;
  border-radius: 10px;
  position: absolute;
  padding: 10px 10px;
  color: white;
  border-style:solid;
  background: transparent;
  font-size: 15px;
  border-radius: 12px;
}
.search{
  width: 2.5%;
  height: 30px;
  position: absolute;
  overflow: hidden;
  left:91%;
  top: 37%;

}

/************************************iconos del header*/
.icon-twitter{
  display: inline;
  position: relative;
    font-size: 20px;
    color: #fff;
    margin-left: 610px;
    margin-top:28px;

  }

.icon-facebook2{
  display: inline;
  position: relative;
    font-size: 20px;
    margin-left: 680px;
    margin-top:28px;

}
.icon-instagram{
  display: inline;
  position: relative;
    font-size: 20px;
    color: #fff;
    margin-left: 750px;
    margin-top:28px;

}
.icon-youtube{
  display: inline;
  position: relative;
  font-size: 20px;
  color: #fff;
  margin-left: 820px;
  margin-top:28px;
}
#icons-prins{
  top: -30%;
  position: absolute;
}
#ico{

  position: absolute;
  color: white;
  border-radius:60px; 
  border-style:solid;
  padding: 10px;
  top: 40px;
}
/***************************************navegadores */
ul {
  background-color:#434343;
  margin-top:0px;
  font-family: arial;
  width:85em;
  height: 3em;
  margin-left: 0;
  position: fixed;
  display: block;
}
.enlaces{
  top: 7px;
  margin-top: 97px;
  position: absolute;
}
.opciones a {
  text-decoration: none;
  margin-right: 20px;
  background-color:  2px solid white;

}
li{
    display: inline-block;
    padding: 10px;
    list-style: none;
}
li:hover{
    background-color:#CD0000;
}
a{
    color:whitesmoke;
    text-decoration: none;
    padding: 20px;

}
option{
  background-color: black;
  color:white;
  width: 40px;
  height: 40px;
}

/*****************************seccion de noticias*/
 #section{
  width: 70em;
  height:53em;
  margin-left: 120px;
  background: white;
  
}
/**************primera caja SOBRE CASO DE LAVA JATO  */
.odebrecht{
  width: 59%;
  height: 300px;
  background: #434343;
  color: #fff;
  text-align: center;
  margin-top: 16%;
  margin-left:4%;
  font-size: 30px;
  float: left;
  display: flex;
}
 .img1{
  display: flex;
  overflow: auto;
  width: 60%;
  height: 300px;
  margin-left: 12px;
}

.odebrecht span{

  color: white;
  margin-left: 8px;
  display: inline-block;
  margin-top: 40%;
  top: -8px;
  padding: 5px;
  font-size:18px;

}
#odeb-ico{
  position: relative;
  color: white;
  border-radius:80px; 
  border-style:solid;
  background: #746F6F;
 
  
}

/****************************segunda caja sobre EDITORIAL*/


.editorial{
  width: 30%;
  height:80px;
  background: #CD0000;
  color: #fff;
  margin-top: 16%;
  margin-right: 4%;
  float: right;

}

.img2{
  position:flex;
  height: 90px;
  margin-left: 84%;
  overflow: auto;
  margin-top: -22%;
}


#editor{
  background: white;
  color: red;
  font-size: 20px;
  text-align: center;
}



/***************************tercera caja sobre el caso de prision*/


.prision{
   width: 28%;
  height: 200px;
  padding: 1%;
  margin-top: 1%;
  margin-left:3%;
  float: left;
  font-size: 19px;
  display: inline;
  color:white; 
  background: #2980B9;

}
.img3{
 
  width: 50%;
  height: 222px;
  display: flex;
  overflow: auto;
  margin-left:168px;
  margin-top: -67.8%;
}

.prision span{
  color: white;
  margin-left: 0px;
  font-size:18px;
  top: 2%;
  display: inline-block;
}
#pris-ico{
  position: relative;
  color: white;
  padding: 4px;
  background: #746F6F;
   margin-top: 8%;
  border-radius:80px; 
  border-style:solid;
 }



/****************cuarta caja sobre el caso de extorcion fujimorista */
.aramayo{
   width: 27%;
  height: 320px;
  background: #434343;
  color: white;
  font-size:20px; 
  margin-top: 1%;
  margin-left: 4%;
  margin-right: 10%;
  float: left;

}
 .img4{
  display: flex;
  overflow: auto;
  width: 100%;
  height: 180px;
  margin-left: 0px;
}

.aramayo span{

  color: white;
  left: 50%;
  margin-left: 4px;
  display: inline-block;
  margin-top: 1px;
  padding: 5px;
  font-size:18px;

}
#aram-ico{
  position: relative;
  color: white;
  border-radius:80px; 
  border-style:solid;
  background: #746F6F;
}


/************************quinta  caja  del tema  de Corea del norte*/
.corea{
   width: 30%;
  height: 320px;
  background: #434343;
  color: white;
  font-size: 20px;
  margin-top: 1%;
  margin-left: -8%;
  float: left;
}
.img5{
  display: flex;
  overflow: auto;
  width: 100%;
  height: 180px;
  margin-left: 0px;
}

.corea span{

  color: white;
  left: 50%;
  left:55%;
  margin-left: 4px;
  display: inline-block;
  margin-top: 1px;
  padding: 5px;
  font-size:18px;

}
#corea-ico{
  position: relative;
  color: white;
  border-radius:80px; 
  border-style:solid;
  background: #746F6F;
}


/***************sexta caja  que trata sobre el tema del deportes de Madrid y Bayem */

.deporte{
  width: 28%;
  height: 188px;
  padding: 1%;
  background: #2980B9;
  color:white;
  font-size: 19px;
  margin-top: 1%;
  margin-left: 0%;
  margin-right: 4%;
  float: right;
}

.img6{
 
  width: 50%;
  height: 210px;
  display: flex;
  overflow: auto;
  margin-left:168px;
  margin-top: -62%;
}

.deporte span{
  color: white;
  margin-left: 0px;
  font-size:18px;
  top: 2%;
  display: inline-block;
}
#sport-ico{
  position: relative;
  color: white;
  padding: 4px;
  background: #746F6F;
   margin-top: 10%;
  border-radius:80px; 
  border-style:solid;
 }


/****************************************publicidad*/
.publicidad{
  width: 30%;
  height: 100px;
  margin-top: 1%;
  margin-left: 0%;
  margin-right: 4%;
  float: right;
}

.top{
  width: 100%;
  height: 100px;
  display: flex;
  overflow: hidden;
}